@use "../../assets/scss/mixins" as *;

#keyword {
  width: 100%;
  padding-bottom: 5rem;
  h2 {
    padding: 0 3rem;
    padding-bottom: 14px;
  }
  ul {
    overflow: hidden;
    position: relative;
    @include flex-layout($gap: 0.5rem);
    li {
      flex: 0 0 22%;
      position: relative;
      height: 48rem;
      img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        aspect-ratio: 1/1;
      }
      > h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--Static-white);
      }
    }
    .btn {
      cursor: pointer;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      @include flex-layout(row, space-between);
      .prev {
        font-size: 24px;
        color: var(--Static-white);
        @include flex-layout;
        width: 48px;
        height: 48px;
        background: rgba(0, 0, 0, 0.2);
      }
      .next {
        font-size: 24px;
        color: var(--Static-white);
        @include flex-layout;
        width: 48px;
        height: 48px;
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
