@use "../../assets/scss/mixins" as *;

#runningnews {
  padding: 5rem 3rem;

  h2 {
    font-size: 2rem;
  }
  ul {
    @include flex-layout($gap: 0);
    width: 100%;
    li {
      cursor: pointer;
      border: 1px solid #0073e5;
      border-right: none;
      &:nth-last-child(1) {
        border-right: 1px solid #0073e5;
      }
      width: 25%;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
      }
      .news-title {
        padding: 1.25rem;
        > p {
          font-size: 1.25rem;
          height: 4rem;
        }
        .news-txt {
          @include flex-layout(row, flex-start, center, 0);
          p {
            font-size: 0.875rem;
            font-weight: bolder;
            color: var(--Primary-300);
          }
        }
      }
    }
  }
}
