@use "../../assets/scss/mixins" as *;

#paceypick {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;

  h2 {
    padding: 0 3rem;
    padding-bottom: 14px;
  }
  ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    @include flex-layout(row, flex-start, center, 0);
    overflow: hidden;
    width: 100%;
    height: 100%;
    li {
      position: relative;
      flex: 0 0 25%;
      background-color: rgba(245, 245, 245, 1);
      img {
        border-right: 1px solid #0073e5;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: cover;
      }
      span {
        font-size: 28px;
        position: absolute;
        right: 10px;
        top: 440px;
      }
      h2 {
        top: 420px;
        left: -20px;
        position: absolute;
        font-size: 2.75rem;
        font-style: italic;
        color: var(--Primary-300);
      }
      .best-txt {
        border: 1px solid #0073e5;
        border-left: none;
        @include flex-layout(column, flex-start, flex-start, 0.75rem);
        background-color: var(--Static-white);
        padding: 1.25rem;
        > P:nth-of-type(1) {
          font-size: 0.875rem;
          font-weight: 700;
        }
        > P:nth-of-type(2) {
          font-weight: 400;
          font-size: 1.125rem;
        }
        > p:nth-of-type(3) {
          font-weight: 400;
        }
      }
      .price {
        > P:nth-of-type(1) {
          font-size: 0.875rem;
          font-weight: 400;
          color: #bdbdbd;
        }
        > P:nth-of-type(2) {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
    }
    .btn {
      cursor: pointer;
      width: 100%;
      position: absolute;
      top: 40%;
      left: 0;
      @include flex-layout(row, space-between);
      .prev {
        font-size: 24px;
        color: var(--Static-white);
        @include flex-layout;
        width: 48px;
        height: 48px;
        background: rgba(0, 0, 0, 0.2);
      }
      .next {
        font-size: 24px;
        color: var(--Static-white);
        @include flex-layout;
        width: 48px;
        height: 48px;
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .indi-bottom {
    width: 100%;
    padding-top: 3rem;
    @include flex-layout(row, center, center, 0);
    .indicator {
      @include flex-layout(row, flex-start, center, 0);
      width: calc(100% - 150px);
      gap: 8px;
      span {
        cursor: pointer;
        flex: 1;
        height: 4px;
        background-color: #e1e1e1;
        border-radius: 2px;
        transition: 0.3s;
        &.active {
          background-color: var(--Primary-300);
          height: 4px;
        }
      }
      .indi-txt {
        width: 150px;
        display: flex;
        align-items: center;
        > p {
          font-size: 1.125rem;
          color: var(--Primary-300);
          display: flex;
          align-items: center;
          gap: 4px;
          cursor: pointer;
          white-space: nowrap;
        }
      }
    }
  }
}
